// Vertical Sidebar - Default Light
$sidebar-bg: #ffffff;
$sidebar-border-color: #e6eff5;
$sidebar-menu-item-color: #b1b1b1;
$sidebar-menu-sub-item-color: #b1b1b1;
$sidebar-menu-item-icon-color: #b1b1b1;
$sidebar-menu-item-hover-color: #1814f3;
$sidebar-menu-item-active-color: #1814f3;
$sidebar-menu-sub-item-active-color: #1814f3;
$sidebar-width: 235px;
$sidebar-collapsed-width: 100px;
$transition-speed: 0.4s;

// Topbar - Deafult Light

$header-height: 70px;
$header-bg: #ffffff;
$header-item-color: #b1b1b1;

// body
$body-bg: #f5f7fa;

//font
$heading-color: #343c6a;

$font-weight-medium: 500;
$font-weight-semibold: 600;

$text-color-blue: #718ebf;
$hr-line-color: #ebeef2;

//card
$card-bg: #ffffff;

// form
$form-lable-color: #232323;
$form-input-color: #718ebf;
$form-input-border: #86b7fe;
