<aside class="vertical-menu" aria-label="Sidebar navigation" id="sidebar">
  <header role="banner">
    <a href="/" aria-label="Homepage" class="logo-link">
      <img
        src="../../../assets/images/Vector.png"
        alt="Your Company Logo"
        class="logo"
        loading="lazy"
      />
    </a>
  </header>
  <nav aria-label="Main Navigation">
    <ul>
      <li class="active">
        <a href="#" aria-label="Dashboard">
          <i class="fas fa-home" aria-hidden="true"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" aria-label="Dashboard">
          <i class="fa-solid fa-receipt"></i>
          <span>My Transactions</span>
        </a>
      </li>
      <li>
        <a href="#" aria-label="Dashboard">
          <i class="fa-solid fa-cloud"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" aria-label="Dashboard">
          <i class="fa-solid fa-circle-user"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" aria-label="Dashboard">
          <i class="fa-solid fa-face-smile"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" aria-label="Dashboard">
          <i class="fa-solid fa-headphones"></i> <span>Dashboard</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
