.main-container {
  height: 100%;
  padding-top: calc($header-height + 5px);
  transition: margin-left $transition-speed ease-in-out,
    transform $transition-speed ease-in-out;
}
body[data-sidebar-enabled="disabled"] {
  .vertical-menu {
    width: $sidebar-collapsed-width;
  }
  #page-topbar {
    left: $sidebar-collapsed-width;
  }
  .main-container {
    margin-left: $sidebar-collapsed-width;
  }
}

@media screen and (max-width: 768px) {
  body[data-sidebar-enabled="disabled"] {
    .vertical-menu {
      width: 0px;
    }
    #page-topbar {
      left: 0px;
    }
    .main-container {
      margin-left: 0px;
    }
  }
}
